.effect {
    height: 66px !important;
    width: 89px !important;
}

.effectON:hover {
    opacity: 1;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.68);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.68);
}

.effectOFF:hover {
    opacity: 0.7;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.68);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.68);
}

.effectOFF:active {
    -webkit-box-shadow: inset 0px 0px 15px -6px rgba(255, 255, 255, 0.68);
    box-shadow: inset 0px 0px 15px -6px rgba(255, 255, 255, 0.68);
}

.effectON:active {
    -webkit-box-shadow: inset 0px 0px 15px -6px rgba(255, 255, 255, 0.68);
    box-shadow: inset 0px 0px 15px -6px rgba(255, 255, 255, 0.68);
}